footer {
    background-color:#BB7D61;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 50px;
    z-index: 1;
}

.noisette {
    width: 40px;
    height: 40px;
    z-index: 0;
    position: absolute;
    animation-name: noisetteAnim;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes noisetteAnim {
    from {
        transform: rotate(20deg);
    }
    50% {
        transform: rotate(-20deg);
    }
    to {
        transform: rotate(20deg);
    }
}