main {
    display: grid;
    height: calc(100vh - 150px);
    padding: 10px;
    justify-content: center;
    overflow-y: auto;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
}

h1 {
    text-align: center;
    align-self: center;
    grid-column: span 2 ;
}

#leftPane {
    grid-row: span 2;
    display: grid;
}

.field {
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
    margin-bottom: 10px;
}

.field input, #eventList input {
    height: 30px;
    border: 0.5px solid grey;
    border-right: none;
    border-radius: 10px 0px 0px 10px;
    align-self: baseline;
    padding: 5px;
    padding-left: 10px;
}

.field input:focus, #eventList input:focus{
    outline:none;
}

.fieldInput {
    display: grid;
    grid-template-columns: auto 50px;
}

.fieldInput div {
    height: 40px;
    border: 0.5px solid grey;
    border-left: none;
    border-radius: 0px 10px 10px 0px;
    background-color: white;
}

#imageField {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    overflow: hidden;
    align-self: flex-start;
}

#imageField img {
    width: 200px;
    height: 200px;
}

#photoProduct{
    text-align: center;
}

button {
    border: 0.5px solid grey;
    border-radius: 10px;
    height: 40px;
    width: 30%;
    cursor: pointer;
    grid-column: span 2;
    justify-self: center;
    align-self: flex-end;
}

button:hover {
    background-color: rgb(187, 125, 97);
    color: white;
}

label {
    width: 300px;
    height: min-content;
}

#imageField{
    justify-self: center;
    cursor: pointer;
}

input:-internal-autofill-selected {
    background-color: white;
}

#contentPredict {
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    border-radius: 10px;
    overflow: hidden;
    border: 0.5px solid grey;
    height: 40px;
    background-color: white;
}

#contentPredict div {
    display: grid;
    justify-items: center;
    align-items: center;
    border-right: 0.5px solid grey;
    cursor: pointer;
    font-size: 13px;
    text-overflow: ellipsis;
    overflow: hidden;
}

#contentPredict div:last-child {
    border: none;
}

#contentPredict div:hover {
    background-color: rgb(228, 149, 113);
    color: white;
}

#eventListBox {
    display: grid;
    grid-template-rows: auto auto auto;
}

#eventList {
    display: grid;
    grid-auto-flow: row;
    min-height: 50px;
    height: 100%;
    overflow-y: auto;
    max-height: 100px;
    width: 80%;
    justify-self: center;
    justify-items: center;
}

#eventListButtons {
    display: grid;
    grid-template-columns: 50% 50%;
    border-radius: 25px;
    height: 52px;
    overflow: hidden;
    justify-items: center;
    align-content: center;
    justify-self: center;
    width: 20%;
}

#eventListButtons div {
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    display: grid;
    justify-items: center;
    align-items: center;
    cursor: pointer;
    font-size: larger;
    border: 0.5px solid grey;
}

#eventListButtons div:hover {
    background-color: rgb(228, 149, 113);
    color: white;
}

#eventList .fieldInput {
    width: 50%;
}

#eventListBox label {
    text-align: center;
    width: 100%;
}

#eventListBox input {
    margin-bottom: 10px;
}

#remarque {
    justify-self: center;
    text-indent: 15px;
    text-align:justify;
    color:#B77A78;
    width: 70%;
    height: min-content;
    align-self: center;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 10px;
    padding: 20px;
    font-size: 15px;
    background-color: white;
    margin-bottom: 10px;
}

@media(max-width: 1200px) {
    main {
        grid-template-columns: 100%;
        grid-template-rows: none;
        height: auto;
    }   
    h1 {
        grid-column: span 1 ;
    }
    
    #leftPane {
        grid-row: span 1;
    }
    button {
        grid-column: span 1;
        margin-top: 20px;
    }
    .field {
        margin-bottom: 10px;
        justify-items: baseline;
    }
    label {
        width: calc(70vw - 20px);
    }
    .field input {
        width: calc(70vw - 90px);
    }
    #contentPredict {
        width: calc(70vw - 25px);
    }
    h1 {
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: large;
    }
    #eventList input {
        width: calc(70vw - 90px);
    }
    #eventList .fieldInput {
        justify-self: center;
        justify-content: center;
    }
}