main {
    height: calc(100vh - 150px);
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    overflow-y: auto;
}

h1 {
    text-align: center;
}

h1, #search {
    grid-column: span 2;
    justify-self: center;
    align-self: center;
    margin-bottom: 30px;
}

#search {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    width: 100%;
    justify-content: center;
}

#search input {
    border: 0.5px solid grey;
    border-right: none;
    border-radius: 10px 0px 0px 10px;
    height: 40px;
    justify-self: right;
    padding-left: 5px;
    background-color: white;
}

input:focus{
    outline:none;
}

#search img {
    height: 35px;
    width: 35px;
    padding: 2.5px;
    border: 0.5px solid grey;
    border-left: none;
    border-radius: 0px 10px 10px 0px;
    justify-self: left;
    cursor: pointer;
    background-color: white;
}

.productBox {
    justify-self: center;
    align-self: top;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    width: 150px;
    height: 150px;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 80% 20%;
    overflow: hidden;
    background-color: white;
    grid-auto-flow: column;
    margin-bottom: 20px;
}

.productBox img {
    height: 100%;
    max-width: 150px;
    cursor: pointer;
}

.productBox p {
    width: 150px;
    font-size: medium;
    text-align: center;
}

.productBox div {
    display: grid;
    grid-template-columns: auto auto;
    margin-left: -50px;
    padding-top: 5px;
    visibility: hidden;
    height: 20px;
}

.productBox div img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    cursor: pointer;
}

.productBox > a {
    width: min-content;
    justify-self: center;
}

#pannel-right, #pannel-left, .sub_cats {
    display: grid;
    position: fixed;
    width: 210px;
    height: calc(100vh - 200px);
    margin-top: 25px;
}

#pannel-right {
    grid-template-columns: 20px auto;
    margin-left: calc(100vw - 30px);
}

#contentRight, #contentLeft, .sub_cats #content {
    padding: 5px;
    overflow-y: auto;
    background-color: rgb(187, 125, 97);
    border-radius: 10px;
    align-items: center;
}

#pannel-right > div {
    display: grid;
    justify-items: center;
    height: calc(100vh - 200px);
}

.separator {
    width: 50%;
    height: 10px;
    border-radius: 5px;
    background-color: rgb(228, 149, 113);
    margin: 5px 0px 5px 0px;
}

#displayOrder {
    display: grid;
    grid-template-columns: 80% 20%;
    align-items: center;
}

#displayOrder p, #contentLeft > p, #content > p, #titleCurrentCat {
    color:white;
    grid-column:  span 2;
    font-size: large;
    margin-bottom: 30px;
    text-align: center;
}

#displayOrder label, #currentCat {
    color: white;
    font-size: 13px;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

#displayOrder input {
    accent-color: rgb(228, 149, 113);
}

#arrowRight, #arrowLeft, .sub_cats #arrow {
    display: grid;
}

#arrowRight p, #arrowLeft p, .sub_cats #arrow p {
    color: white;
    align-self: center;
    justify-self: center;
    cursor:default;
    font-size: larger;
    cursor: pointer;
}

#ar, #al, .sub_cats #arrow div {
    background-color: rgb(187, 125, 97);
    width: 20px;
    display: grid;
    align-self: center;
    height: 100px;
    cursor: pointer;
}   

#ar {
    border-radius: 5px 0px 0px 5px;
}

#al, .sub_cats #arrow div {
    border-radius: 0px 5px 5px 0px;
}

#pannel-left {
    grid-template-columns: auto 20px;
    margin-left: -200px;
}

#pages {
    margin-top: 30px;
    grid-column: span 4;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    height: 40px;
    border-radius: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    justify-self: center;
    align-self: center;
    width: 30%;
    background-color: white;
    overflow: hidden;
}

#pages div {
    display: grid;
    justify-items: center;
    align-items: center;
}

#pages a{
    font-size: larger;
    text-decoration: none;
    color: black;
}

.pagesA:hover {
    cursor: pointer;
    background-color: rgb(228, 149, 113);
}

#contentRight .productBox {
    width: 100px;
    height: 100px;
}

#contentRight .productBox img {
    max-width: 100px;
}

#contentRight .productBox p {
    width: 100px;
    font-size: 10px;
}

#contentLeft > p, #content > p {
    grid-column: span 1;
}

#contentLeft, .sub_cats .categories {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: min-content auto;
    align-items: flex-start;
}

#contentLeft {
    grid-template-rows: min-content auto min-content min-content;
}

.cats {
    display: grid;
    grid-template-columns: auto 20px;
    height: 30px;
    align-items: center;
    border-radius: 10px;
    padding: 0px 5px 0px 5px;
    cursor: pointer;
}

.cats:hover {
    background-color: rgb(228, 149, 113);
}

.cats p {
    font-size: 13px;
    color: white;
    text-overflow: ellipsis;
    overflow-x: hidden;
    text-decoration: none;
}

.cats img {
    width: 20px;
    height: 20px;
}

.sub_cats {
    grid-template-columns: auto 20px;
    margin-left: -200px;
}

.categories {
    display: grid;
    grid-template-columns: 100%;
    grid-auto-flow: row;
    grid-auto-rows: min-content;
    overflow-y: auto;
    height: 100%;
    min-height: 150px;
}

#currentCat {
    text-align: center;
    margin-bottom: 5px;
}

@media(max-width: 1000px){
    main {
        grid-template-columns: auto auto;
    }
    h1 {
        font-size: large;
    }
    .productBox p {
        font-size: small;
    }
    .productBox div {
        visibility: visible;
    }
}